@(
        query: Option[String],
        things: Seq[Thing] = Seq(), labels: Seq[Label] = Seq(), barcodes: Seq[Barcode] = Seq()
)(
        implicit request: RequestHeader, messages: Messages, lang: Lang, flash: Flash
)

    @scripts = {
        <script type="application/javascript">
                $('#btn-reset').click(function () {
                    $('#query').attr('value', '');
                });
        </script>
    }

    @main(Messages("basic.search"), scripts) {

        <h1>@Messages("basic.search")</h1>

        <form action="@routes.Search.searchRedir()" method="post">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-barcode"></span></span>
                <input type="text" class="form-control" placeholder="@Messages("view.search.placeholder")" name="query" id="query" value="@query.getOrElse("")" autofocus>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span> @Messages("view.search.button")</button>
                    <button class="btn btn-danger" type="reset" id="btn-reset"><span class="glyphicon glyphicon-remove"></span></button>
                </span>
            </div>
        </form>

        <hr>

        @if(things.isEmpty && labels.isEmpty && barcodes.isEmpty && query.isDefined) {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <span class="sr-only">@Messages("basic.warning"):</span> @Messages("view.search.no_result")
            </div>
        }
        @if(query.isDefined && (things.nonEmpty || labels.nonEmpty || barcodes.nonEmpty)) {
            <ul class="nav nav-tabs">
                <li class="active"><a href="#things" data-toggle="tab"><span class="glyphicon glyphicon-hdd"></span> @Messages("basic.things") <span class="label label-@if(things.isEmpty){default}@if(things.nonEmpty){success}">@things.size</span></a></li>
                <li><a href="#labels" data-toggle="tab"><span class="glyphicon glyphicon-tags"></span> @Messages("basic.labels") <span class="label label-@if(labels.isEmpty){default}@if(labels.nonEmpty){success}">@labels.size</span></a></li>
                <li><a href="#barcodes" data-toggle="tab"><span class="glyphicon glyphicon-barcode"></span> @Messages("basic.barcodes") <span class="label label-@if(barcodes.isEmpty){default}@if(barcodes.nonEmpty){success}">@barcodes.size</span></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="things">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@Messages("model.thing.name")</th>
                                <th>@Messages("model.thing.description")</th>
                                <th>@Messages("model.thing.since")</th>
                                <th>@Messages("model.thing.until")</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(t <- things) {
                            <tr>
                                <td></td>
                                <td><a href="@routes.Things.read(t.id.getOrElse(0), None)">@t.name</a></td>
                                <td>@t.description</td>
                                <td>@t.since.toString("dd/MM/yyyy HH:mm")</td>
                                <td>@t.until.map(_.toString("dd/MM/yyyy HH:mm"))</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="labels">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>@Messages("model.label.name")</th>
                                <th>@Messages("model.label.description")</th>
                                <th colspan="2">@Messages("model.label.color")</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(c <- labels) {
                            <tr>
                                <td><a href="@routes.Labels.read(c.id.getOrElse(0))">@c.name</a></td>
                                <td>@c.description</td>
                                <td>@c.color</td>
                                <td style="background-color: @c.color;">&nbsp;</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="barcodes">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>@Messages("model.barcode.code")</th>
                                <th>@Messages("model.barcode.standard")</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(barcode <- barcodes) {
                            <tr>
                                <td><a href="@routes.Barcodes.read(barcode.id.getOrElse(0))">@barcode.code</a></td>
                                <td>@barcode.standard</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }