@(
        thing: Thing, tab: Option[String],
        thingForm: Form[Thing], linkLabelForm: Form[LabelThing], barcodeForm: Form[Barcode], partForm: Form[ThingRelation],
        labelsToAdd: Seq[Label], labels: Seq[(LabelThing, Label)], barcodes: Seq[Barcode],
        parts: Seq[(ThingRelation, Thing)], wholes: Seq[(ThingRelation, Thing)], things: Seq[Thing]
)(
        implicit request: RequestHeader, messages: Messages, lang: Lang, flash: Flash
)


@import b3.vertical.fieldConstructor
@import helper._

@main(thing.name) {

    <h1>@thing.name</h1>

    <ul class="nav nav-tabs">
        <li @if(tab.isEmpty) {
            class="active"}><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span> @Messages("view.thing.basic")</a></li>
        <li @if(tab.contains("barcodes")) {
            class="active"}><a href="#barcodes" data-toggle="tab"><span class="glyphicon glyphicon-barcode"></span> @Messages("view.thing.barcodes")</a></li>
        <li @if(tab.contains("labels")) {
            class="active"}><a href="#labels" data-toggle="tab"><span class="glyphicon glyphicon-tags"></span> @Messages("view.thing.labels")</a></li>
        @if(thing.hasParts) {
            <li @if(tab.contains("parts")) {
                class="active"}><a href="#parts" data-toggle="tab"><span class="glyphicon glyphicon-duplicate"></span> @Messages("view.thing.parts")</a></li>
        }
        <li @if(tab.contains("wholes")) {
            class="active"}><a href="#wholes" data-toggle="tab"><span class="glyphicon glyphicon-gift"></span> @Messages("view.thing.wholes")</a></li>
        <li @if(tab.contains("manage")) {
            class="active"}><a href="#manage" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span> @Messages("view.thing.manage")</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane @if(tab.isEmpty) {active}" id="home">

            @if(thing.thingType == Thing.CONTAINER_TYPE) {
                <p>@Messages("basic.container") #@thing.id</p>
            }
            @if(thing.thingType == Thing.FUNCTIONAL_TYPE) {
                <p>@Messages("basic.functional_whole") #@thing.id</p>
            }
            @if(thing.thingType == Thing.ATOMIC_TYPE) {
                <p>@Messages("basic.atomic_thing") #@thing.id</p>
            }

            <p>@thing.description</p>

            <p>@Messages("model.thing.since"): @thing.since.toLocalDateTime.toString("dd/MM/yyyy HH:mm")</p>
            <p>@Messages("model.thing.until"): @thing.until.map(_.toString("dd/MM/yyyy HH:mm"))</p>
        </div>
        <div class="tab-pane @if(tab.contains("barcodes")) {active}" id="barcodes">

            @b3.form(routes.Things.addBarcode(thing.id.getOrElse(0))) {
                @b3.hidden("thingId", thing.id.getOrElse(0))
                @b3.select(barcodeForm("standard"), BarcodeTypes.values.toList.map(x => (x.toString, x.toString)), '_label -> Messages("model.barcode.standard"))
                @b3.text(barcodeForm("code"), '_label -> Messages("model.barcode.code"))
                @b3.submit('class -> "btn btn-success") {
                    <span class="glyphicon glyphicon-plus"></span>
                    @Messages("view.common.form.add")
                }
            }

            <hr>

            @if(barcodes.isEmpty) {
                <div class="alert alert-info" >
                    <span class="glyphicon glyphicon-exclamation-sign"></span> @Messages("view.thing.no_barcodes")
                </div>
            } else {
                <table class="table table-striped">
                    <thead>
                        <th>@Messages("model.barcode.code")</th>
                        <th>@Messages("model.barcode.standard")</th>
                        <th></th>
                    </thead>
                    <tbody>
                    @for(barcode <- barcodes) {
                        <tr>
                            <td><a href="@routes.Barcodes.read(barcode.id.getOrElse(0))">@barcode.code</a></td>
                            <td>@barcode.standard</td>
                            <td align="right">
                            @b3.form(routes.Things.removeBarcode(thing.id.getOrElse(0))) {
                                @b3.hidden("id", barcode.id.getOrElse(0))
                                @b3.hidden("standard", barcode.standard)
                                @b3.hidden("code", barcode.code)
                                @b3.hidden("thingId", barcode.thingId)
                                @b3.submit('class -> "btn btn-danger btn-sm") {
                                    <span class="glyphicon glyphicon-remove"></span>
                                    @Messages("view.common.form.remove")
                                }
                            }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }

        </div>
        <div class="tab-pane @if(tab.contains("labels")) {active}" id="labels">

            @b3.form(routes.Things.linkLabel(thing.id.getOrElse(0))) {
                @b3.hidden("thingId", thing.id.getOrElse(0))
                @b3.select(linkLabelForm("labelId"), labelsToAdd.filterNot(lbl => labels.map(_._2).contains(lbl)).map(lbl => (lbl.id.getOrElse(0).toString, lbl.name)), '_label -> Messages("basic.label"))
                @b3.submit('class -> "btn btn-success") {
                    <span class="glyphicon glyphicon-plus"></span>
                    @Messages("view.common.form.add")
                }
            }

            <hr>

            @if(labels.isEmpty) {
                <div class="alert alert-info" >
                    <span class="glyphicon glyphicon-exclamation-sign"></span> @Messages("view.thing.no_labels")
                </div>
            } else {
                <table class="table table-striped">
                    <thead>
                        <th>&nbsp;</th>
                        <th>@Messages("model.label.name")</th>
                        <th></th>
                    </thead>
                    <tbody>
                    @for((link, label) <- labels) {
                        <tr>
                            <td style="background-color:
                            @label.color;">&nbsp;</td>
                            <td><a href="@routes.Labels.read(label.id.getOrElse(0))">@label.name</a></td>
                            <td align="right">
                            @b3.form(routes.Things.unlinkLabel(thing.id.getOrElse(0))) {
                                @b3.hidden("id", link.id.getOrElse(0))
                                @b3.hidden("thingId", thing.id.getOrElse(0))
                                @b3.hidden("labelId", label.id.getOrElse(0))
                                @b3.submit('class -> "btn btn-danger btn-sm") {
                                    <span class="glyphicon glyphicon-remove"></span>
                                    @Messages("view.common.form.remove")
                                }
                            }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
        @if(thing.thingType == Thing.CONTAINER_TYPE) {
            <div class="tab-pane @if(tab.contains("parts")) {active}" id="parts">

                @b3.form(routes.Things.addPart(thing.id.getOrElse(0))) {
                    @b3.hidden("relationType", ThingRelation.CONTAINMENT_TYPE)
                    @b3.hidden("wholeId", thing.id.getOrElse(0))
                    @b3.select(partForm("partId"), things.filterNot(t => t.id == thing.id).map(t => (t.id.getOrElse(0).toString, t.name + " #" + t.id.getOrElse(0))), '_label -> Messages("model.relation.part"))
                    @b3.datetimeLocal(partForm("since"), '_label -> Messages("model.relation.since"))
                    @b3.datetimeLocal(partForm("until"), '_label -> Messages("model.relation.until"))
                    @b3.text(partForm("slot"), '_label -> Messages("model.relation.slot"))
                    @b3.number(partForm("quantity"), '_label -> Messages("model.containment.quantity"), 'min -> "1", '_value -> "1")
                    @b3.submit('class -> "btn btn-success") {
                        <span class="glyphicon glyphicon-plus"></span>
                        @Messages("view.common.form.add")
                    }
                }

                <hr>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Messages("model.thing.name")</th>
                            <th>@Messages("model.relation.since")</th>
                            <th>@Messages("model.relation.until")</th>
                            <th>@Messages("model.relation.slot")</th>
                            <th>@Messages("model.containment.quantity")</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((containment, part) <- parts) {
                        <tr>
                            <td>@containment.partId</td>
                            <td><a href="@routes.Things.read(containment.partId, Some("wholes"))">@part.name</a></td>
                            <td>@containment.since.toString("dd/MM/yyyy HH:mm")</td>
                            <td>@containment.until.map(_.toString("dd/MM/yyyy HH:mm"))</td>
                            <td>@containment.slot</td>
                            <td>@containment.asInstanceOf[Containment].quantity</td>
                            <td><a href="@routes.Relations.editForm(containment.id.getOrElse(0))" class="btn-sm btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
        @if(thing.thingType == Thing.FUNCTIONAL_TYPE) {
            <div class="tab-pane @if(tab.contains("parts")) {active}" id="parts">

                @b3.form(routes.Things.addPart(thing.id.getOrElse(0))) {
                    @b3.hidden("wholeId", thing.id.getOrElse(0))
                    @b3.hidden("relationType", ThingRelation.COMPONENT_TYPE)
                    @b3.number(partForm("partId"), '_label -> Messages("model.relation.part"))
                    @b3.datetimeLocal(thingForm("since"), '_label -> Messages("model.relation.since"))
                    @b3.datetimeLocal(thingForm("until"), '_label -> Messages("model.relation.until"))
                    @b3.text(thingForm("slot"), '_label -> Messages("model.relation.slot"))
                    @b3.text(partForm("function"), '_label -> Messages("model.containment.function"))
                    @b3.submit('class -> "btn btn-success") {
                        <span class="glyphicon glyphicon-plus"></span>
                        @Messages("view.common.form.add")
                    }
                }

                <hr>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Messages("model.thing.name")</th>
                            <th>@Messages("model.relation.since")</th>
                            <th>@Messages("model.relation.until")</th>
                            <th>@Messages("model.relation.slot")</th>
                            <th>@Messages("model.component.function")</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((component, part) <- parts) {
                        <tr>
                            <td>@component.partId</td>
                            <td><a href="@routes.Things.read(component.partId, Some("wholes"))">@part.name</a></td>
                            <td>@component.since.toString("dd/MM/yyyy HH:mm")</td>
                            <td>@component.until.map(_.toString("dd/MM/yyyy HH:mm"))</td>
                            <td>@component.slot</td>
                            <td>@component.asInstanceOf[Component].function</td>
                            <td><a href="@routes.Relations.editForm(component.id.getOrElse(0))" class="btn-sm btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
        <div class="tab-pane @if(tab.contains("parts")) {wholes}" id="wholes">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>@Messages("model.relation.type")</th>
                        <th>@Messages("model.thing.name")</th>
                        <th>@Messages("model.relation.since")</th>
                        <th>@Messages("model.relation.until")</th>
                        <th>@Messages("model.relation.slot")</th>
                        <th>@Messages("model.containment.quantity")</th>
                        <th>@Messages("model.component.function")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @for((relation, whole) <- wholes) {
                    <tr>
                        <td>@relation.partId</td>
                        <td>
                            @if(relation.relationType == ThingRelation.CONTAINMENT_TYPE) {
                                <span class="glyphicon glyphicon-gift"></span>
                            }
                            @if(relation.relationType == ThingRelation.COMPONENT_TYPE) {
                                <span class="glyphicon glyphicon-cog"></span>
                            }
                        </td>
                        <td><a href="@routes.Things.read(relation.wholeId, Some("parts"))">@whole.name</a></td>
                        <td>@relation.since.toString("dd/MM/yyyy HH:mm")</td>
                        <td>@relation.until.map(_.toString("dd/MM/yyyy HH:mm"))</td>
                        <td>@relation.slot</td>
                        <td>@if(relation.relationType == ThingRelation.CONTAINMENT_TYPE) {
                            @relation.asInstanceOf[Containment].quantity }</td>
                        <td>@if(relation.relationType == ThingRelation.COMPONENT_TYPE) {
                            @relation.asInstanceOf[Component].function }</td>
                        <td><a href="@routes.Relations.editForm(relation.id.getOrElse(0))" class="btn-sm btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="tab-pane @if(tab.contains("parts")) {manage}" id="manage">
            @b3.form(routes.Things.update(thing.id.getOrElse(0))) {
                @b3.hidden("thingType", thing.thingType)
                @b3.text(thingForm("name"), '_label -> Messages("model.thing.name"))
                @b3.textarea(thingForm("description"), '_label -> Messages("model.thing.description"))
                @b3.datetimeLocal(thingForm("since"), '_label -> Messages("model.thing.since"))
                @b3.datetimeLocal(thingForm("until"), '_label -> Messages("model.thing.until"))
                @b3.submit('class -> "btn btn-success") {
                    <span class="glyphicon glyphicon-edit"></span>
                    @Messages("view.common.form.update")
                }
            }

            @form(routes.Things.delete(thing.id.getOrElse(0))) {
                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                    @Messages("view.common.form.delete")
                </button>
            }
        </div>
    </div>
}