@(labels: Seq[Label])(implicit request: RequestHeader, messages: Messages, lang: Lang, flash: Flash)

@main("Labels") {

    <h2>Labels</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th colspan="2">Color</th>
            </tr>
        </thead>
        <tbody>
        @for(c <- labels) {
            <tr>
                <td><a href="@routes.Labels.read(c.id.getOrElse(0))">@c.name</a></td>
                <td>@c.description</td>
                <td>@c.color</td>
                <td style="background-color: @c.color;">&nbsp;</td>
            </tr>
        }
        </tbody>
    </table>
}