@()(implicit request: RequestHeader, messages: Messages, lang: Lang, flash: Flash)

    @scripts = {
        <script type="application/javascript">
                $('#btn-reset').click(function () {
                    $('#query').attr('value', '');
                });
        </script>
    }

    @main("Inventory", scripts) {
        <div class="jumbotron">
            <h1>Inventory</h1>

            <p>some text about inventory</p>


            <form action="@routes.Search.barcodeRedir()" method="post">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Name, label, description, ..." name="query" id="query" autofocus>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span> Search!</button>
                    </span>
                </div>
            </form>

        </div>
    }