@(title: String, scripts: Html = Html(""))(content: Html)(implicit request: RequestHeader, messages: Messages, lang: Lang, flash: Flash)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <div class="page-wrap">
            <header>
            @navbar()
            </header>

            <main class="container">
                <div id="flash">
                    @flashing()
                </div>
                <div id="content">
                    @content
                </div>
            </main>
        </div>

        <footer class="container sticky-footer site-footer">
            <small>Marek Suchánek &copy; 2017</small>
        </footer>

        <script src="@routes.Assets.at("javascripts/jquery-3.2.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        @scripts
    </body>
</html>
